.dropdown-body {
    position: relative;
    margin-left: 2px;
    z-index: 1510;
}

.dropdown-select {
    display: flex;
    flex-direction: column;
    background: #f0eff4;
    border: 2px solid #347fc4;
    width: 30px;
    height: 30px;
    margin: 1% 0 0 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.dropdown-options-wrapper{
    position: absolute;
    display: none;
    height: auto;
    width: 200px;
    border: 1px solid  #347fc4;
    border-top: none;
}

.dropdown-title{
    user-select: none;
}

.dropdown-option{
    display: flex;
    justify-content: center;
    background: #f0eff4;
    align-items: center;
    height: 30px;
    cursor: pointer;
    user-select: none;
}

.dropdown-option:not(.dropdown-selected):hover{
    background: lightgray;
}

.dropdown-selected{
    color: #fff;
    background: #347fc4;
}

.dropdown-open{
    display: block;
}