.images-item{
    width: 27vw;
    height: 35vh;
    margin: 2vh 0 2vh 0;
    object-fit:cover;
    cursor: pointer;
    outline: none;
}
@media (max-width:1000px){
    .images-item{
        height: 35vw;
    }
}