.main-body{
    display: flex;
    justify-content: flex-end;
}
.main-body button{
    cursor: pointer;
    width: 70px;
    height: 29px;
    border: 2px solid  rgb(115, 115, 243);
    background: #fff;
    margin: 5px;
}
.main-body button:hover{
    background: lightgray;
}