.table{
  display: table;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.cell{
  display: table-cell;
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  cursor: pointer;
}
.cell:hover{
  background: gray;
}
.author{
  margin: 0%;
  text-align: center;
  color: gray;
}